.socialicon{
	display: inline-block;
	width: 30px; height: 30px;
	margin:1px 3px 1px 0;
}
.socialicon.facebook{ background: url("COREIMG/social-webicons/images/fc-webicon-facebook-m.png"); }
.socialicon.twitter{ background: url("COREIMG/social-webicons/images/fc-webicon-twitter-m.png"); }
.socialicon.youtube{ background: url("COREIMG/social-webicons/images/fc-webicon-youtube-m.png"); }
.socialicon.gplus{ background: url("COREIMG/social-webicons/images/fc-webicon-googleplus-m.png"); }